.popcircle h2 {
    width: 30px;
    height: 30px;
    border-radius: 30%;
    background: #FAFAFA;
    font-family: sans-serif;
    color: #28be4b;
    animation: bounce 3s ease infinite
}

@keyframes bounce {

    0% { transform: translateX(0);
    }  

    50% {
        transform: translateX(calc(100vw - 100px)) scale(0,1);
        background-color: #5C9021;
    }

    100% { 
        transform: translateX(0vw) ;
    }
}

@keyframes slide-in {
    from {transform: translateX(50vw) ;
    opacity: 0;}
    to {transform: translateX(0);
    }
}